.accessDeniedError {
    background-color: #191414;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.accessDeniedError p {
    font-size: 1.5em;
    margin: 2em 0;
}

.accessDeniedError button {
    --button-height: 2.777em;
    font-size: 1.125em;
    padding: 0.5em 1em;
    height: var(--button-height);
    border-radius: calc(var(--button-height)/2);   
    background-color: #1DB954;
}

.accessDeniedError button:active {
    background: rgb(29 185 84 / 80%);
}

.accessDeniedError button:hover {
    cursor: pointer;
}