body {
  margin: 0;
  padding: 0;
}

.saving {
    cursor: progress;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #191414;
}

.header {
  color: #1DB954;
}

.searchBar {
  flex-grow: 1;
  overflow-y: auto;
  color: white;
}

.footer {
  color: white;
}
