.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browse {
    height: 2.5em;
    width: 8em;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 1em 1em 0 0;
    color: white;
    text-align: center;
}

.manage {
    height: 2.5em;
    width: 8em;
    border: 1px solid white;
    border-radius: 0 0 1em 1em;
    color: white;
}

.browse.active, .manage.active {
    background-color: #1DB954;
    color: #191414;
}

.browse:focus::placeholder {
    color: black;
    opacity: 0.3;
}
