.genericError {
    background-color: #191414;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.genericError h2 {
    font-size: 2em;
}

.genericError p {
    font-size: 1.5em;
    margin: 1.5em 0;
}

.genericError button {
    --button-height: 3.125em;
    font-size: 1.125em;
    padding: 0.625em 1.25em;
    height: var(--button-height);
    border-radius: calc(var(--button-height)/2);
    background-color: #1DB954;
}

.genericError button:active {
    background: rgb(29 185 84 / 80%);
}

.genericError button:hover {
    cursor: pointer;
}