.headerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 5em;
}

.heading {
    grid-column: 2;
    text-align: center;
    margin: 0.5em;
}

.heading:hover {
    cursor: pointer;
}

.profileContainer {
    grid-column: 3;
    justify-self: end;
    margin-right: 1em;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    
    .headerContainer {
        display: flex;
        justify-content: space-between;
    }

    .profileContainer {
        margin-right: 1em;
    }
}