.playlistContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.playlistInfo {
    flex-grow: 1;
    min-width: 0; /* without this, text-overflow: elipsis; doesn't work */
}

.buttonContainer {
    text-wrap: nowrap;
    margin-right: 1em;
    min-width: 6em;
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: collapse;
}

.buttonContainer.small {
    margin-right: 0.5em;
}

.buttonContainer.edit {
    min-width: 6em;
}

.buttonContainer.small.edit {
    min-width: 3em;
}

.buttonContainer.delete {
    min-width: 7em;
}

.buttonContainer.small.delete {
    min-width: 4em;
}

.buttonContainer.copy {
    min-width: 6.5em;
}

.buttonContainer.small.copy {
    min-width: 3.5em;
}

.button {
    width: 100%;
    height: 100%;
    background-color: #191414;
    color: white;
    border: 1px solid white;
    border-radius: 0.3125em;
}

.button:hover {
    color: black;
    cursor: pointer;
    border: none;
}

.edit .button:hover, .copy .button:hover {
    background-color: #1DB954;
}

.delete .button:hover {
    background-color: white;
    color: #191414;
}

.button:active {
    font-size: 0.95em;
    width: 98%;
    height: 96%;
}

.playlistContainer:hover > .buttonContainer {
    visibility: visible;
}

.playlistInfo h3, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlistInfo h3 {
    font-size: 1.125em;
    font-weight: normal;
    margin: 0.25em;
}

.playlistInfo p {
    margin: 0.25em;
}

.playlistImage {
    width: 60px;
    flex-shrink: 0;
    /* At some point, shrinking might make sense (especially if the image was larger than 50px), but all images should
    shrink at the same rate. On small resolutions, images should probably vanish. */
}