.profileButton {
    --starting-length: 3.125em;
    --ending-percentage: 90%;
    --button-height: 3.125em;

    width: var(--button-height);
    height: var(--button-height);
    border-radius: calc(var(--button-height)/2); 

    background: linear-gradient(to left, #1DB954 var(--starting-length), #191414 var(--ending-percentage));
    transition: width 0.3s ease-out, --ending-percentage 0.4s ease-out, --starting-length 0.1s ease-out;

    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    white-space: nowrap;
    cursor: pointer;
}

.profileButton.expanded {
    width: 12.5em;
}

.profileButton.shrunk { /*firefox...*/
    border-radius: calc(var(--button-height)/2);
}

.profileButton.shrunk:active { /*firefox...*/
    border-radius: calc(var(--button-height)/2);
}

.profileButton.expanded:hover .profileImageContainer {
    border-right: 2px solid white;
    padding-left: 1px;
}

.profileImageContainer {
    flex-shrink: 0;

    border-radius: calc(var(--button-height)/2);
    width: var(--button-height);
    height: var(--button-height);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s linear;
}

.profileImageContainer:hover {
    border: 1px solid white;
}

.profileImageContainer:active {
    border: 2px solid white;
}

.profileImage {
    border-radius: calc(var(--button-height)/2);
    object-fit: cover;
    width: var(--button-height);
    height: var(--button-height);
}

.displayName {
    color: white;
    font-size: 1.25em;
    font-weight: 600;
}

.textContainer {
    overflow: hidden;
}

.logoutText {
    padding-right: 1.25em;
}

.noLeftBorder {
    border-radius: 0 calc(var(--button-height)/2) calc(var(--button-height)/2) 0;
    border: 1px solid white;
    border-left: none;
}

.profileImageContainer.pushed {
    transform: translateX(calc(var(--button-height)* (-1/2)));
}

.expanded.noLeftBorder .logoutText {
    padding-right: 19px;
}