.saveButton {
    height: 100%;
    background-color: #191414;
    color: white;
    border-radius: 10px;
    border: 1px solid white;

    padding: 10px;
}

.saveButton:hover {
    cursor: pointer;
    background-color: #1DB954;
    color: black;
    border: none;
    padding: 11px;
}

.saveButton:active {
    border: 3px solid white;
    padding: 8px;
}