.mainContainer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
}

.browsingTools {
    flex-shrink: 0;
    margin: 1em 0 2em 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.listsContainer {
    max-width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 3.5em;
    overflow: auto;
}

.twoLists {
    max-width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 3.125em;
}

.firstList, .secondList {
    flex-basis: 40%;
    overflow-y: auto;
}

.oneList {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.searchField {
    grid-column: 2;

    text-align: center;
    font-size: 1em;

    background-color: #191414;
    color: white;
    border: none;
    box-shadow: 0 0 0.625em #1DB954;
    border-radius: 0.625em;
    padding: 1em;
    max-width: 11em;
}

.searchField:focus {
    outline: none;
}

.myPlaylistsButtonContainer {
    min-width: 8.2em; /* to prevent shifting of other flex items */
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPlaylistsButton {
    grid-column: 1; 

    width: 8.1em; /* this is set just to ensure the button size is the same regardless of what's written in it*/
    font-size: 1em;
    background-color: #191414;
    color: white;
    border: none;
    box-shadow: 0 0 0.5em #1DB954;
    border-radius: 0.625em;
    padding: 1em;

    transition: box-shadow 0.2s linear;
}

.myPlaylistsButton:active {
    box-shadow: 0 0 1em #1DB954;
    font-size: 0.95em;
}

.myPlaylistsButton:hover {
    box-shadow: 0 0 1em #1DB954;
    cursor: pointer;
}

.onlyOnSmallestScreens {
    display: none; 
}

@media screen and (max-width: 320px) {

    .browsingTools {
        display: flex;
        justify-content: space-around;
        height: 5em;
        margin-bottom: 1em;
    }

    .listsContainer {
        margin-bottom: 1em;
    }

    .myPlaylistsButtonContainer {
        height: 100%;
        min-width: 5.1em;
    }

    .myPlaylistsButton {
        max-height: 100%;
        width: 5em;
    }

    .onlyOnSmallestScreens {
        display: block;
    }
}