.trackContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.trackContainer.grayedOut {
    opacity: 0.3;
}

.trackContainer.grayedOut:hover {
    cursor: default;
    color: white;
}

.trackInfo {
    flex-grow: 1;
    min-width: 0; /* without this, text-overflow: elipsis; doesn't work */
}

.trackInfo h3, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trackInfo h3 {
    font-size: 1.125em;
    font-weight: normal;
    margin: 0.25em;
}

.trackInfo p {
    margin: 0.25em;
}

.trackImage {
    width: 60px;
    flex-shrink: 0;
    /* At some point, shrinking might make sense (especially if the image was larger than 50px), but all images should
    shrink at the same rate. On small resolutions, images should probably vanish. */
}

.buttonContainer {
    text-wrap: nowrap;
    margin-right: 1em;
    min-width: 6em;
    height: 2em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: collapse;
}

.button {
    width: 100%;
    height: 100%;
    background-color: #191414;
    color: white;
    border: 1px solid white;
    border-radius: 0.3125em;
}

.button:hover {
    color: black;
    cursor: pointer;
    border: none;
}

.button:active {
    font-size: 0.95em;
    width: 98%;
    height: 96%;
}

.trackContainer:hover > .buttonContainer {
    visibility: visible;
}

.trackContainer.grayedOut:hover > .buttonContainer {
    visibility: collapse;
}

.addButton {
    min-width: 5em;
}

.addButton .button:hover {
    background-color: #1DB954;
}

.removeButton {
    min-width: 7em;
}

.removeButton .button:hover {
    background-color: #E3736F;
}