.trackContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
}

.trackContainer:hover {
    cursor: pointer;
}

.trackContainer.add:hover {
    color: #1DB954;
}

.trackContainer.remove:hover {
    color: #E3736F;
}

.trackContainer.grayedOut {
    opacity: 0.3;
}

.trackContainer.grayedOut:hover {
    cursor: default;
    color: white;
}

.trackInfo {
    min-width: 0; /* without this, text-overflow: elipsis; doesn't work */
}

.trackInfo h3, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trackInfo h3 {
    font-size: 1.125em;
    font-weight: normal;
    margin: 0.25em;
}

.trackInfo p {
    margin: 0.25em;
}

.trackImage {
    width: 60px;
    flex-shrink: 0;
    /* At some point, shrinking might make sense (especially if the image was larger than 50px), but all images should
    shrink at the same rate. On small resolutions, images should probably vanish. */
}