.usersPlaylistsContainer {
    width: 35%;

    display: flex;
    flex-direction: column;
}

.usersPlaylistsContainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.tableHeading {
    padding-bottom: 1em;
    text-align: center;
}

.message {
    font-size: 1.5em;
    color: #1DB954;
}