.usersPlaylistsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.usersPlaylistsContainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.tableHeading {
    padding-bottom: 1em;
    text-align: center;
    text-decoration-line: underline;
}

.tableHeading h2 {
    font-weight: 600;
}

.message {
    font-size: 1.5em;
    color: #1DB954;
}